.row{
    margin-right: 5px;
}
.header{
    text-align: center;
    font-size: xx-large;
    padding: 50px;
}

.btn-chat-box{
    position: fixed;
    bottom: 20px;
    right: 50px;
    padding: 20px;
  }
.chat-btn{
  border-radius: 100px;
}
.btn-box{
  padding: 10px;
}

  