<h2>Restaurantes</h2>
<div class="row">
    <div class="col-3">
        <app-restaurant-option-box></app-restaurant-option-box>
    </div>
    <div class="col-3">
        <app-restaurant-option-box></app-restaurant-option-box>
    </div>
    <div class="col-3">
        <app-restaurant-option-box></app-restaurant-option-box>
    </div>
    <div class="col-3">
        <app-restaurant-option-box></app-restaurant-option-box>
    </div>
    <div class="col-3">
        <app-restaurant-option-box></app-restaurant-option-box>
    </div>
</div>


