.container{
    box-shadow: 8px 12px 48px -11px rgba(0,0,0,1);
}
.item-box{
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
    background-color: rgb(255, 255, 255);
}
.header{
    
    font-weight:500;
    
}
.item-style{
    border: 1px solid rgb(209, 209, 209)
}