
<div class="user-chat">
    <div class="close-box"><span class="close-btn" (click)="closeUserChat()">X</span></div>
    <div class="header">
        Contactar con el Administrador
    </div>
    <div class="chat-content container">
        @for (message of messages; track $index) {
            <div [ngClass]="{'message':true,
                'sended-message': userIsSender(message.senderId),
                'recive-message': !userIsSender(message.senderId)}">
                {{message.text}}
            </div>
        }
    </div> 
    <footer class="footer">
        <mat-grid-list cols="15" rowHeight="80px">
            <mat-grid-tile [colspan]="11" >
                <div class="input-group input-group-md">
                    <input type="text" class="form-control" aria-label="Mediun" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="text">
                  </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3">
                <div >
                    <button class="btn btn-dark send-button" (click)="sendMessage()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                          </svg>
                    </button>
                  </div>
            </mat-grid-tile>
          </mat-grid-list>
    </footer> 
</div>
