<app-navbar></app-navbar>
<div class="header">
   {{currentRestaurant.name}}
 </div>
<div class="container">
    <mat-tab-group>
  <!--------------------------------------------------- DATOS ------------------------------------------------->
        <mat-tab label="Datos"> 
            <br>
            <br>
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h2>Datos</h2>
                  <form (ngSubmit)="onSubmit()" class="my-form">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="this.name" >
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="text-area">Descripción</label>
                        <textarea class="form-control" id="text-area" rows="3" name="descripción" [(ngModel)]="this.description"></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="text-area">capacidad</label>
                        <input type="number" class="form-control" id="capacity" name="capacity" [(ngModel)]="capacity" >
                    </div>
                    <br>
                    <button type="submit" class="btn btn-dark">Guardar</button>
                  </form>
                </div>
                <div class="col-1"></div>
                <div class="col-5">
                  <h2>Subir Imagen</h2>
                  <div>
                    <input [hidden]="true" type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" >
                    <button class="btn btn-dark" (click)="fileInput.click()">Seleccionar Imagen</button>
                  </div>
                  <br>
                  @if(imageUrl){
                      <div class="image-box">
                        <img  class="updateImage" [src]="imageUrl">
                      </div>
                  }
                </div>
              </div>
            </div>
            
           
        </mat-tab>
        <!--------------------------------------------------------Menus-------------------------------------------->
        <mat-tab label="Menus">
          <br>
          <div class="container">
            <div class="options-control-menu">
             
              <button class="btn btn-dark" (click)="openDialogCreateMenu()">Crear Nuevo Menu</button>
            </div> 
           <br>
            <div class="row" >
              @for (menu of currentRestaurant.menus; track menu) {
                <div class="col-6 menu-item-content" >
                  <app-menu-item-box [data]="menu" [admin]="true" (deleteMenuEvent)="deleteMenu($event)"></app-menu-item-box>
                </div>
              }
            </div>
          </div> 
          
        </mat-tab>
         <!--------------------------------------------------------Reservas-------------------------------------------->
        <mat-tab label="Reservas"> 
          <br>
            <div class="body container">
              <div class="row table-header">
                <div class="col-6">
                  Fecha de reserva
                </div>
                <div class="col-6">
                  Datos de las reservas
                </div>
              </div>  
              <br>
              <div class="row">
                @for (date of  getReservationDates(); track $index) {
                  <div class="col-6">
                    <h3>{{date}}</h3>
                  </div>
                  <div class="col-6">
                      @for (reservation of reservations[date]; track $index) {
                          <p>Hora: {{ reservation.time }}</p>
                          <p>Número de personas: {{ reservation.numberPeople }}</p>
                      }
                  </div> 
                  <hr>                 
                } 
              </div>   
            </div>
        </mat-tab>
      </mat-tab-group> 
    
</div>

