.header{
    text-align: center;
    font-size: xx-large;
    padding: 50px;
}
.options-control-menu{
   
}
.menu-item-content{
    position: relative;
}
.table-header{
    font-size: x-large;
    font-weight: 500;
}