<app-navbar></app-navbar>
<div class="header">
   {{currentRestaurant.name}}
 </div>
<div class="container">
    <mat-tab-group>
  <!--------------------------------------------------- DATOS ------------------------------------------------->
        <mat-tab label="Datos"> 
            <br>
            <br>
            <form (ngSubmit)="onSubmit()" class="my-form">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="this.name" >
                </div>
                <br>
                <div class="form-group">
                    <label for="text-area">Descripción</label>
                    <textarea class="form-control" id="text-area" rows="3" name="descripción" [(ngModel)]="this.description"></textarea>
                </div>
                <br>
                <div class="form-group">
                    <label for="text-area">capacidad</label>
                    <input type="number" class="form-control" id="capacity" name="capacity" [(ngModel)]="capacity" >
                </div>
                <br>
                <button type="submit" class="btn btn-dark">Guardar</button>
            </form>
        </mat-tab>
        <!--------------------------------------------------------Menus-------------------------------------------->
        <mat-tab label="Menus">
          <br>
          <div class="container">
            <div class="options-control-menu">
             
              <button class="btn btn-dark" (click)="openDialogCreateMenu()">Crear Nuevo Menu</button>
             <!--  <app-modal-create-menu></app-modal-create-menu> -->
            </div> 
           <br>
            <div class="row" >
              @for (menu of currentRestaurant.menus; track menu) {
                <div class="col-6 menu-item-content" >
                  <app-menu-item-box [data]="menu" [admin]="true" (deleteMenuEvent)="deleteMenu($event)"></app-menu-item-box>
                </div>
              }
            </div>
          </div> 
          
        </mat-tab>
         <!--------------------------------------------------------Reservas-------------------------------------------->
        <mat-tab label="Reservas"> Content 3 </mat-tab>
      </mat-tab-group> 
    
</div>

