<app-navbar></app-navbar>
<div class="container body">
 <span  class="img-box">
    <div>
      <h1>{{currentRestaurant.name}}</h1>
      <img src={{restaurantService.getImgRestaurent(currentRestaurant.imgIndex)}} alt=""  class="my-img">
    </div>
    <br>
    <p class="description">{{currentRestaurant!.description}}</p> 
  </span> 
  <form (submit)="sendReservation()">
    <h2>Realizar Reserva</h2>
        <div>
          <label for="npersons">Numero de personas</label>
          <input type="number" id="npersons" [(ngModel)]="nPersons" name="npersons" required>
        </div>
        <div class="my-date-picker">
          <mat-form-field style="display: block;">
            <mat-label>Seleccione el dia</mat-label>
            <input matInput [matDatepicker]="picker"
                   (dateInput)="addEvent($event)" (dateChange)="addEvent($event)">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Selecciona la hora </mat-label>
            <mat-select>
              @for (time of times; track time) {
                <mat-option (click)="selectTime(time)" [value]="time[1]">{{time[0]}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <button type="submit"  class="btn btn-dark">Reservar</button>
  </form>    
</div>

  <div [hidden]="currentRestaurant.menus.length == 0" class="container menus-body">
    <div class="header">
      Lista de menus
  </div>
    <div class="row">
      @for (menu of currentRestaurant.menus; track menu) {
        <div class="col-6">
          <app-menu-item-box [data]="menu"></app-menu-item-box>
        </div>
      }
    </div>
   
  </div>



